# Cleaning Datasets

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cov_dat = 'raw_datasets/Covid.csv'
main_dat = 'raw_datasets/countries.csv'
arr_dat = 'raw_datasets/arrival.csv'
dep_dat = 'raw_datasets/departure.csv'

In [3]:
#cleaning covid dataset and setting dates as index.
cov = pd.read_csv(cov_dat)
datesCov = pd.DataFrame({
    'year' : cov["year"],
    'month' : cov["month"],
    "day" : cov["day"]
    
})
cov["dates"] = pd.to_datetime(datesCov)
cov = cov.drop(columns = ['dateRep', 'day', 'month', 'year'])
cov = cov.set_index('dates')

In [4]:
arrDf = pd.read_csv(arr_dat, encoding = "ISO-8859-1")
depDf = pd.read_csv(dep_dat, encoding = "ISO-8859-1")
arrDf = arrDf.rename(columns={'Country of citizenship(a)': 'Country'})
arrDf = arrDf.drop(columns = ["SACC code(a)"])
depDf = depDf.rename(columns={'Country of citizenship(a)': 'Country'})
depDf = depDf.drop(columns = ["SACC code(a)"])

In [5]:
#grouping data by countries
covCo = pd.DataFrame()
covCo = cov.groupby(['Code']).sum()
covCo = covCo.drop(columns= ["popData2019"])

In [6]:
#grouping data according to country codes across multiple datasets.
countries = pd.read_csv(main_dat, sep=',', thousands=',')
countries= countries.set_index('Code')
df1 = covCo
df2 = countries

In [7]:
df3 = df1.join(df2, how = 'inner')
df3 = df3.drop(columns = ["Coastline (coast/area ratio)", "Phones (per 1000)", "Net migration"])
df3 = df3.fillna(0)
df4 = arrDf
df5 = depDf

In [9]:
def removeSpace(dataset):
    for x in range(len(dataset.index)):
        if dataset["Country"][x][-1] == " ":
            dataset["Country"][x] = dataset["Country"][x][:-1]
removeSpace(df3)

<ipython-input-9-a4e890da2c6c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["Country"][x] = dataset["Country"][x][:-1]

In [10]:
df3["Codes"] = df3.index
codeDict = {}
for x in range(len(df3.index)):
    codeDict[df3["Country"][x]] = df3["Codes"][x]

codeDict["Zimbabwe"]

'ZWE'

In [29]:
df4['Code'] = ["UNKNOWN" for x in range(len(df4.index))]
df5['Code'] = ["UNKNOWN" for x in range(len(df5.index))]

In [32]:
unknown = []
def standardize(dataset):
    dict1 = codeDict
    for x in range(len(dataset.index)):
        for k, v in dict1.items():
                if k == dataset["Country"][x]:
                    dataset["Code"][x] = v
                elif dataset['Country'][x] == "Total":
                    dataset["Code"][x] = "TOT"
                else:
                    pass
standardize(df4)
standardize(df5)
df4 = df4.drop(df4[df4["Code"] == "UNKNOWN"].index)
df5 = df5.drop(df4[df4["Code"] == "UNKNOWN"].index)

<ipython-input-32-3f697e776d3b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  standardize(df4)

,Country,16-Sep,16-Oct,16-Nov,16-Dec,17-Jan,17-Feb,17-Mar,17-Apr,17-May,...,20-Jan,20-Feb,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,Code
Code,,,,,,,,,,,,,,,,,,,,,
AUS,Australia,"788,680","907,430","649,150","647,520","1,049,590","622,860","605,580","773,900","676,120",...,"1,160,610","664,990","476,430","15,060","11,110","14,070","10,700","8,790","8,900",AUS
NZL,New Zealand,"166,800","176,580","144,860","162,290","174,900","127,510","150,080","164,100","141,450",...,"179,540","130,230","83,570","1,180","2,320","2,740","1,540","1,130","1,210",NZL
NCL,New Caledonia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NCL
PNG,Papua New Guinea,"3,420","3,300","3,290","5,350","4,130","2,730","3,000","3,250","2,880",...,"3,890","2,670","1,540",40,60,60,70,30,60,PNG
GUM,Guam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,GUM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TZA,Tanzania,80,70,70,90,120,110,60,80,40,...,120,80,50,0,0,0,0,0,0,TZA
UGA,Uganda,50,70,60,100,110,90,70,110,70,...,120,100,40,0,0,0,0,0,0,UGA
ZMB,Zambia,100,90,80,120,170,140,140,100,80,...,160,160,50,0,0,0,0,10,0,ZMB
ZWE,Zimbabwe,490,470,470,810,790,610,470,640,430,...,800,650,340,0,10,10,10,0,10,ZWE
TOT,Total,"1,590,300","1,781,180","1,514,740","1,721,010","2,068,570","1,636,500","1,527,480","1,650,570","1,403,450",...,"2,258,940","1,571,490","923,980","21,620","19,400","25,770","18,280","15,440","16,720",TOT

In [34]:
df4

,Country,16-Sep,16-Oct,16-Nov,16-Dec,17-Jan,17-Feb,17-Mar,17-Apr,17-May,...,20-Jan,20-Feb,20-Mar,20-Apr,20-May,20-Jun,20-Jul,20-Aug,20-Sep,Code
Code,,,,,,,,,,,,,,,,,,,,,
AUS,Australia,"788,680","907,430","649,150","647,520","1,049,590","622,860","605,580","773,900","676,120",...,"1,160,610","664,990","476,430","15,060","11,110","14,070","10,700","8,790","8,900",AUS
NZL,New Zealand,"166,800","176,580","144,860","162,290","174,900","127,510","150,080","164,100","141,450",...,"179,540","130,230","83,570","1,180","2,320","2,740","1,540","1,130","1,210",NZL
NCL,New Caledonia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NCL
PNG,Papua New Guinea,"3,420","3,300","3,290","5,350","4,130","2,730","3,000","3,250","2,880",...,"3,890","2,670","1,540",40,60,60,70,30,60,PNG
GUM,Guam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,GUM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TZA,Tanzania,80,70,70,90,120,110,60,80,40,...,120,80,50,0,0,0,0,0,0,TZA
UGA,Uganda,50,70,60,100,110,90,70,110,70,...,120,100,40,0,0,0,0,0,0,UGA
ZMB,Zambia,100,90,80,120,170,140,140,100,80,...,160,160,50,0,0,0,0,10,0,ZMB
ZWE,Zimbabwe,490,470,470,810,790,610,470,640,430,...,800,650,340,0,10,10,10,0,10,ZWE
TOT,Total,"1,590,300","1,781,180","1,514,740","1,721,010","2,068,570","1,636,500","1,527,480","1,650,570","1,403,450",...,"2,258,940","1,571,490","923,980","21,620","19,400","25,770","18,280","15,440","16,720",TOT

In [33]:
# y = 0
# unknown = []
# for x in range(len(df4["Code"])):
#     if df4["Code"][x] == "UNKNOWN":
#         y += 1 
#         print(df4["Country"][x])
#         unknown.append(df4["Country"])
# print(len(unknown))

In [ ]:
#### INDEXED BY DATES #####################
df1 # COVID Cases ranging from 31/12/2019 - 10/10/2020

######333#INDEXED BY COUNTRY CODE#########
df2 # Country Data (gdp, birthrate)
df3 # Combined dataframe from df1 and df2 (cases, gdp...)
df4 # Dataframe for all arrivals in Australia from 2016-2020 Month Format 
df5 # Dataframe for all departures in Australia from 2016-2020 Month Format